:root {
  --primary-color: rgb(161, 161, 161);
  --secondary-color: #e84e7b;
  --font-family: "Roboto", sans-serif;
  --box-shadow: 5px 5px 40px rgba(189, 189, 189, 0.3);
}

nav li {
  display: inline;
  list-style: none;
  line-height: 45px;
  margin-left: 20px;
}

nav ul {
  padding: 0;
  margin-bottom: 0;
}

nav {
  padding: 10px 30px;
  background-color: #191818;
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100000;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover,
nav li.active a {
  color: plum;
}

.logo {
  height: 45px;
  width: auto;
}

.card {
  text-align: center;
  background-color: black;
  font-family: var(--font-family);
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 72px;
  margin: 25px 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#full-name {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 180px;
}

#about-me {
  text-transform: uppercase;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 18px;
  margin-top: 120px;
}

p {
  font-family: var(--font-family);
  color: white;
  font-size: 18px;
  line-height: 30px;
}

#summary {
  font-size: 18px;
  color: var(--primary-color);
  width: 680px;
  line-height: 30px;
}

video {
  height: 100vh;
  left: 0px;
  top: 0px;
  opacity: 0.8;
  filter: blur(2px);
}

#play-record-button {
  border-radius: 50px;
  background-color: whitesmoke;
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 18px 30px;
  margin-bottom: 301px;
}

#title {
  text-transform: uppercase;
  color: white;
  font-size: 35px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 45px;
}

#song-photo {
  filter: grayscale(1);
  width: 330px;
  height: 330px;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.singers {
  text-transform: uppercase;
  margin-top: -10px;
  margin-bottom: 50px;
  font-family: var(--font-family);
  font-size: 18px;
  color: white;
}

.song-name {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  color: white;
}

hr {
  color: whitesmoke;
}
body {
  background-color: black;
}

.personal-photo {
  width: 450px;
  height: auto;
  margin-top: 120px;
}

.btn {
  background-color: var(--secondary-color);
  color: black;
  font-weight: bold;
  border-radius: 25px;
  padding: 15px;
  font-size: 18px;
}

.collection-photo {
  filter: grayscale(1);
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.collection-table {
  max-width: 860px;
}

.list-group-item-action {
  background: black;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.list-group-item-action:hover {
  background-color: var(--primary-color);
}

h5 {
  color: #e84e7b;
}

#collection-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.contact-title {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 120px;
}

.contact-container {
  text-align: center;
  font-family: var(--font-family);
  font-size: 18px;
}

.contact-heading {
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
}

a,
#my-email {
  text-decoration: none;
  color: white;
}

.order-card {
  border: 1px solid white;
  border-radius: 5px;
  padding: 30px;
  margin-top: 40px;
}

h4 {
  text-transform: uppercase;
  color: white;
}

i {
  color: white;
  font-size: 30px;
  margin: 26px;
}

.footer-email {
  font-size: 26px;
}

i:hover {
  color: var(--secondary-color);
}

@media (max-width: 576px) {
  nav li {
    line-height: 35px;
    margin-left: 10px;
    font-size: 13px;
  }

  h2 {
    margin-top: 20px;
    font-size: 15px;
  }

  h1 {
    font-size: 36px;
  }

  .personal-photo {
    width: 260px;
    height: auto;
  }

  .footer-email,
  #footer-mark {
    font-size: 18px;
  }

  #summary {
    font-size: 15px;
    width: 260px;
  }

  #play-record-button {
    font-size: 14px;
    font-weight: bold;
    padding: 9px 15px;
    margin-bottom: 180px;
  }

  .btn {
    font-size: 15px;
    padding: 10px;
  }
}
