:root {
  --primary-color: rgb(151, 151, 151);
  --secondary-color: #e84e7b;
  --font-family: "Roboto", sans-serif;
  --box-shadow: 5px 5px 40px rgba(189, 189, 189, 0.3);
}

.card {
  text-align: center;
  background-color: black;
  font-family: var(--font-family);
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 72px;
  margin: 25px 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#full-name {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 180px;
}

#about-me {
  text-transform: uppercase;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 18px;
  margin-top: 80px;
}

p {
  font-family: var(--font-family);
  color: white;
  font-size: 18px;
  line-height: 30px;
}

h3 {
  font-size: 18px;
  color: var(--primary-color);
  width: 680px;
  line-height: 30px;
}

video {
  height: 100vh;
  left: 0px;
  top: 0px;
  opacity: 0.8;
  filter: blur(2px);
}

#play-record-button {
  border-radius: 50px;
  background-color: whitesmoke;
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 18px 30px;
  margin-bottom: 301px;
}

#title {
  text-transform: uppercase;
  color: white;
  font-size: 35px;
  text-align: center;
  margin: 30px 0;
}

img {
  filter: grayscale(1);
  width: 360px;
  height: 360px;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.singers {
  text-transform: uppercase;
  margin-top: -10px;
  margin-bottom: 50px;
  font-family: var(--font-family);
  font-size: 18px;
  color: white;
}

.song-name {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  color: white;
}

hr {
  color: whitesmoke;
}
body {
  background-color: black;
}

.personal-photo {
  width: 480px;
  height: 500px;
  margin-top: 80px;
}

.btn {
  background-color: var(--secondary-color);
  color: black;
  font-weight: bold;
  border-radius: 25px;
}

.collection-photo {
  filter: grayscale(1);
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.collection-table {
  max-width: 860px;
}

.list-group-item-action {
  background: linear-gradient(45deg, rgb(62, 70, 78), rgb(151, 151, 151));
}
@media (max-width: 576px) {
  h2 {
    margin-top: 20px;
    font-size: 15px;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 15px;
    width: 300px;
  }

  #play-record-button {
    font-size: 14px;
    font-weight: bold;
    padding: 9px 15px;
    margin-bottom: 180px;
  }
}
